* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /* max-width: 1920px; */
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: white;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.10);
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 50px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.header-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.header-image {
    width: 635px;
    height: 800px;
}

/* Featured Flower section styles */
.featured-flowers {
    margin: 178px 240px 128px 240px;

}

.featured-header {
    margin-bottom: 48px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.featured-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    padding-left: 423px;
    padding-right: 423px;
}

.flowers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 128px;
}

.flower-1-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0 76px;
    /* height: 538px;
    width: 464px; */
}

.flower-1-1-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.flower-2-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
    /* height: 538px;
    width: 464px; */
}

.flower-2-2-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.flower-3-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0 75px;
    /* height: 538px;
    width: 464px; */
}

.flower-3-3-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.instructions {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px 175px;
    text-align: center;
}

.pic-primary-pic {
    margin-bottom: 0;
}

.pic-primary-1 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;
    ;
    /* padding-bottom: 86px; */
}

/* Hot deals section styles */
.hot-deals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 420px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 100px;
}

.hot-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
}

#offer {
    color: #E55473;
}

.hot-deals-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}

#hot-deals-btn {
    display: flex;
    justify-content: center;
    margin-top: 0;

}




